<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/about.css">

	<title id="head-title">About</title>
</head>

<body class="bg-dark">

	<!-- About START -->
	<div class="">
		<div class="row d-flex justify-content-center">
			<div class="d-flex justify-content-center">
				<img src="/static/assets/42 (2).png" style="width: 10%;">
			</div>
			<div class="d-flex justify-content-center">
				<p class="text-light fs-1">Ping <span class="text-warning">Pong</span></p>
			</div>
			<div class="d-flex justify-content-center pb-5">
				<div class="col-1 col-lg-3"></div>
				<p class="text-light text-center fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
					delectus eligendi assumenda quis sunt sapiente inventore dolores, neque qui distinctio ab natus
					quidem consequuntur a animi blanditiis. Voluptates, nobis beatae laborum nostrum deserunt dolores
					quia incidunt natus vel corrupti aut provident voluptate illum itaque magni quaerat rerum minima
					assumenda optio harum, nesciunt pariatur adipisci. Aliquam nihil vero veniam. Architecto officiis
					iste perspiciatis, optio quis dolore incidunt laboriosam odio, itaque excepturi temporibus tempora.
					Est vel veniam assumenda incidunt, fugit beatae nobis voluptate rem aperiam, nihil eligendi ipsum
					dolorem non maxime aliquam reiciendis voluptatem, iste unde eius a asperiores sed vitae. Quidem
					placeat sint nam mollitia libero enim dolor facilis impedit eius. Excepturi culpa accusamus quod
					labore, fugit consequuntur assumenda dignissimos reiciendis cumque aliquam nulla dolor maxime nam
					repellendus, amet cupiditate quos debitis beatae odio. Atque saepe deserunt, dolores similique,
					minima illum provident molestiae eum modi aut omnis repellat sed doloremque? Velit similique officia
					ipsa nemo veniam, rem, pariatur recusandae quos sit atque nisi, iure harum architecto tenetur sint!
					Facilis nesciunt repudiandae, velit cumque fugit eius quisquam iure iusto perferendis recusandae
					molestias ullam sed enim? Blanditiis nam rem tempora expedita quam quae temporibus, placeat, omnis
					animi accusantium officia dolore cum earum eaque fuga? Nesciunt quae, illum, quo explicabo quam enim
					minus quis corrupti, consectetur at nostrum fuga repellat beatae! Excepturi enim at nulla,
					distinctio dolores consectetur officiis? Cum magnam reiciendis obcaecati recusandae neque,
					aspernatur eos vel dolore nihil, in et laboriosam cupiditate ut odio repudiandae aliquam! Molestias
					accusamus cupiditate magni, ex commodi rem. Blanditiis fuga dolorem adipisci quo, distinctio error
					neque magni labore aperiam ut nulla molestias sit itaque repudiandae. Ipsa praesentium quaerat
					molestias, distinctio velit minus omnis, optio cupiditate tempore corporis recusandae. Totam commodi
					perspiciatis obcaecati quaerat blanditiis facilis similique voluptatum omnis consectetur vero dolor
					dolorem modi eum cumque recusandae accusantium odit at, ipsum sit, accusamus explicabo animi!
					Officia voluptatibus temporibus maiores id, possimus rerum hic asperiores expedita laudantium
					dolores vel delectus modi porro? Dignissimos nobis repellendus a, esse quia ratione eos adipisci
					minus animi aspernatur aliquam ea ipsum quibusdam amet repellat porro veniam assumenda aut
					reiciendis facere cumque architecto, debitis nemo repudiandae. Velit quisquam omnis id ipsum, nihil
					blanditiis odio consectetur, adipisci assumenda repellat recusandae odit molestiae deleniti
					voluptatem officia. Beatae ipsam, saepe doloremque, a repellendus recusandae tenetur ut quam rerum
					qui aperiam consequuntur explicabo culpa, nostrum delectus! Sed cupiditate laudantium maiores
					accusantium. Sapiente dicta officia vero quidem totam repellat dolorem similique aliquid, quaerat
					veritatis unde obcaecati! Accusamus, corrupti eaque? Consequuntur quisquam aliquam esse minima.
					Facilis, at ex veniam obcaecati numquam architecto id libero, sed possimus fugit corrupti deserunt
					laboriosam dolorum nesciunt earum laborum veritatis eos! Fugit repellendus earum excepturi hic
					tenetur adipisci eos eum sequi, sit corrupti architecto optio!</span></p>
				<div class="col-1 col-lg-3"></div>
			</div>
		</div>
		<div class="bg-dark-subtle py-3">
			<div class="mb-5">
				<p class="text-center fs-2 mb-2 fw-bold">Team</p>
				<p class="text-center fs-5 fw-lighter">Most talented and Skilled Individuals</p>
			</div>
			<div class="row d-flex justify-content-center">
				<!-- ayumusak -->
				<div class="col-1 bg-dark-subtle p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/ayumusak.png" class="card-img-top rounded-circle mx-5 mb-3"
						style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Ahmet Kaan Yumuşakdiken</h3>
						<h5 class="card-title text-center"><span class="text-primary">Frontend Developer</span></h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/_AhmetYdk" target="_blank" class="mx-2"><img
									src="/static/assets/profile-photos/twitter-logo.svg" alt=""></a>
							<a href="https://www.linkedin.com/in/ahmet-kaan-yumusakdiken/" target="_blank"
								class="mx-2"><img src="/static/assets/profile-photos/linkedin-logo.svg" alt=""></a>
							<a href="https://github.com/Kaano1" target="_blank" class="mx-2"><img
									src="/static/assets/profile-photos/github-logo.svg" alt=""></a>
						</div>

					</div>
				</div>
				<!-- emakas -->
				<div class="col-1 bg-dark-subtle p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/emakas-pr.jpg" class="card-img-top rounded-circle mx-5 mb-3"
						style="width: 150px;">
					<class="card-body">
						<h3 class="card-title text-center">Ensar Makas</h3>
						<h5 class="card-title text-center"><span class="text-primary">Backend Developer</span></h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/ensar_makas" target="_blank" class="mx-2"><img
									src="/static/assets/profile-photos/twitter-logo.svg" alt=""></a>
							<a href="https://www.linkedin.com/in/ensar-makas-a16b69199/" target="_blank"
								class="mx-2"><img src="/static/assets/profile-photos/linkedin-logo.svg" alt=""></a>
							<a href="https://github.com/rasnesakam" target="_blank" class="mx-2"><img
									src="/static/assets/profile-photos/github-logo.svg"></a>
						</div>
				</div>
				<!-- btekin -->
				<div class="col-1 bg-dark-subtle p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/btekinli-pr.png"
						class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Beyza Tekinli</h3>
						<h5 class="card-title text-center"><span class="text-primary">Frontend Developer</span>
						</h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/beyzatdev" target="_blank" class="mx-2"><img
									src="/static/assets/profile-photos/twitter-logo.svg" alt=""></a>
							<a href="https://www.linkedin.com/in/beyzanur-tekinli/" target="_blank" class="mx-2"><img
									src="/static/assets/profile-photos/linkedin-logo.svg" alt=""></a>
							<a href="https://github.com/b-tekinli" target="_blank" class="mx-2"><img
									src="/static/assets/profile-photos/github-logo.svg" alt=""></a>
						</div>

						<div class="col-1"></div>
					</div>

				</div>
				<div class="row d-flex justify-content-center">
					<!-- aydemir -->
					<div class="col-1 bg-dark-subtle p-4" style="width: 18rem;">
						<img src="/static/assets/profile-photos/aydemir-pr.jpg"
							class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;">
						<div class="card-body">
							<h3 class="card-title text-center">Ayşenur Demir</h3>
							<h5 class="card-title text-center"><span class="text-primary">Backend Developer</span></h5>

							<div class="d-flex justify-content-center mt-5">
								<a href="https://www.instagram.com/beydaai/" target="_blank" class="mx-2"><img
										src="/static/assets/profile-photos/instagram-logo.svg"></a>
								<a href="https://www.linkedin.com/in/ay%C5%9Fenur-demir-188815192/" target="_blank"
									class="mx-2"><img src="/static/assets/profile-photos/linkedin-logo.svg"></a>
								<a href="https://github.com/aysenurdemird" target="_blank" class="mx-2"><img
										src="/static/assets/profile-photos/github-logo.svg" alt=""></a>
							</div>

						</div>
					</div>
					<!-- heris -->
					<div class="col-1 bg-dark-subtle p-4" style="width: 18rem;">
						<img src="/static/assets/profile-photos/heris-pr.png"
							class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;">
						<class="card-body">
							<h3 class="card-title text-center">Hatice Nur Eriş</h3>
							<h5 class="card-title text-center"><span class="text-primary">Devops</span></h5>

							<div class="d-flex justify-content-center mt-5">
								<a href="https://www.instagram.com/erisshatice/" target="_blank" class="mx-2"><img
										src="/static/assets/profile-photos/instagram-logo.svg"></a>
								<a href="https://www.linkedin.com/in/hatice-eris-b82b69269/" target="_blank"
									class="mx-2"><img src="/static/assets/profile-photos/linkedin-logo.svg"></a>
								<a href="https://github.com/hnur-eris" target="_blank" class="mx-2"><img
										src="/static/assets/profile-photos/github-logo.svg" alt=""></a>
							</div>
					</div>
					<!-- MAIN END -->
</body>

</html>