<body class="bg-dark">
	<title id="head-title">About</title>
	<!-- About START -->
	<div class="">
		<div class="row d-flex justify-content-center">
			<div class="d-flex justify-content-center">
				<img src="/static/assets/42 (2).png" style="width: 10%;">
			</div>
			<div class="d-flex justify-content-center">
				<p class="text-light fs-1">Ping <span class="text-warning">Pong</span></p>
			</div>
			<div class="d-flex justify-content-center pb-5">
				<div class="col-1 col-lg-3"></div>

				<p class="text-light text-center fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
					delectus eligendi assumenda quis sunt sapiente inventore dolores, neque qui distinctio ab natus
					quidem consequuntur a animi blanditiis. Voluptates, nobis beatae laborum nostrum deserunt dolores
					quia incidunt natus vel corrupti aut provident voluptate illum itaque magni quaerat rerum minima
					assumenda optio harum, nesciunt pariatur adipisci. Aliquam nihil vero veniam. Architecto officiis
					iste perspiciatis, optio quis dolore incidunt laboriosam odio, itaque excepturi temporibus tempora.
					Est vel veniam assumenda incidunt, fugit beatae nobis voluptate rem aperiam, nihil eligendi ipsum
					dolorem non maxime aliquam reiciendis voluptatem, iste unde eius a asperiores sed vitae. Quidem
					placeat sint nam mollitia libero enim dolor facilis impedit eius. Excepturi culpa accusamus quod
					labore, fugit consequuntur assumenda dignissimos reiciendis cumque aliquam nulla dolor maxime nam
					repellendus, amet cupiditate quos debitis beatae odio. Atque saepe deserunt, dolores similique,
					minima illum provident molestiae eum modi aut omnis repellat sed doloremque? Velit similique officia
					ipsa nemo veniam, rem, pariatur recusandae quos sit atque nisi, iure harum architecto tenetur sint!
					Facilis nesciunt repudiandae, velit cumque fugit eius quisquam iure iusto perferendis recusandae
					molestias ullam sed enim? Blanditiis nam rem tempora expedita quam quae temporibus, placeat, omnis
					animi accusantium officia dolore cum earum eaque fuga?
				</p>

				<div class="col-1 col-lg-3"></div>
			</div>
		</div>

		<div class="bg-dark-subtle about py-3">
			<div class="mb-5">
				<p class="text-center fs-2 mb-2 fw-bold">Team</p>
				<p class="text-center fs-5 fw-lighter">Most talented and Skilled Individuals</p>
			</div>

			<div class="row d-flex justify-content-center">
				<!-- ayumusak -->
				<div class="col-1 p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/ayumusak.png" class="card-img-top rounded-circle mx-5 mb-3"
						style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Ahmet Kaan Yumuşakdiken</h3>
						<h5 class="card-title text-center"><span class="text-danger">Frontend Developer</span></h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/_AhmetYdk" target="_blank" class="mx-2 twitter">
								<img src="/static/assets/profile-photos/twitter-logo.svg" class="twitter"></a>
							<a href="https://www.linkedin.com/in/ahmet-kaan-yumusakdiken/" target="_blank"
								class="mx-2 linkedin">
								<img src="/static/assets/profile-photos/linkedin-logo.svg">
							</a>
							<a href="https://github.com/Kaano1" target="_blank" class="mx-2 github">
								<img src="/static/assets/profile-photos/github-logo.svg">
							</a>
						</div>

					</div>
				</div>

				<!-- emakas -->
				<div class="col-1 p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/emakas-pr.jpg" class="card-img-top rounded-circle mx-5 mb-3"
						style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Ensar Makas</h3>
						<h5 class="card-title text-center"><span class="text-danger">Backend Developer</span></h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/ensar_makas" target="_blank" class="mx-2 twitter">
								<img src="/static/assets/profile-photos/twitter-logo.svg"></a>
							<a href="https://www.linkedin.com/in/ensar-makas-a16b69199/" target="_blank"
								class="mx-2 linkedin">
								<img src="/static/assets/profile-photos/linkedin-logo.svg">
							</a>
							<a href="https://github.com/rasnesakam" target="_blank" class="mx-2 github">
								<img src="/static/assets/profile-photos/github-logo.svg">
							</a>
						</div>
					</div>
				</div>

				<!-- btekinli -->
				<div class="col-1 p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/btekinli-pr.png"
						class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Beyza Tekinli</h3>
						<h5 class="card-title text-center"><span class="text-danger">Frontend Developer</span>
						</h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/beyzatdev" target="_blank" class="mx-2 twitter"><img
									src="/static/assets/profile-photos/twitter-logo.svg"></a>
							<a href="https://www.linkedin.com/in/beyzanur-tekinli/" target="_blank"
								class="mx-2 linkedin"><img src="/static/assets/profile-photos/linkedin-logo.svg"></a>
							<a href="https://github.com/b-tekinli" target="_blank" class="mx-2 github"><img
									src="/static/assets/profile-photos/github-logo.svg"></a>
						</div>

						<div class="col-1"></div>
					</div>
				</div>

				<div class="row bg-dark-subtle d-flex justify-content-center">
					<!-- haeris -->
					<div class="col-1 p-4" style="width: 18rem;">
						<img src="/static/assets/profile-photos/heris-pr.png"
							class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;" />
						<div class="card-body">
							<h3 class="card-title text-center">Hatice Nur Eriş</h3>
							<h5 class="card-title text-center"><span class="text-danger">Devops</span></h5>

							<div class="d-flex justify-content-center mt-5">
								<a href="https://www.instagram.com/erisshatice/" target="_blank"
									class="mx-2 twitter"><img
										src="/static/assets/profile-photos/instagram-logo.svg"></a>
								<a href="https://www.linkedin.com/in/hatice-eris-b82b69269/" target="_blank"
									class="mx-2 linkedin"><img
										src="/static/assets/profile-photos/linkedin-logo.svg"></a>
								<a href="https://github.com/hnur-eris" target="_blank" class="mx-2 github">
									<img src="/static/assets/profile-photos/github-logo.svg">
								</a>
							</div>
						</div>
					</div>

					<!-- fpektas -->
					<div class="col-1 p-4" style="width: 18rem;">
						<img src="/static/assets/profile-photos/fpektas.png"
							class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;" />
						<div class="card-body">
							<h3 class="card-title text-center">Faruk Pektaş</h3>
							<h5 class="card-title text-center"><span class="text-danger">Frontend Developer</span>
							</h5>

							<div class="d-flex justify-content-center mt-5">
								<a href="https://twitter.com/farukdll_/" target="_blank" class="mx-2 instagram">
									<img src="/static/assets/profile-photos/twitter-logo.svg" />
								</a>
								<a href="https://www.linkedin.com/in/farukpektas/" target="_blank" class="mx-2 linkedin">
									<img src="/static/assets/profile-photos/linkedin-logo.svg" />
								</a>
								<a href="https://github.com/farukdll" target="_blank" class="mx-2 github">
									<img src="/static/assets/profile-photos/github-logo.svg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MAIN END -->
</body>