<body class="game-body">
	<title>42 RUSH</title>
	<section class="scoreboard">
		<div class="scoreboard__container">
			<div class="scoreboard__teams">
				<div class="scoreboard__team scoreboard__team--align-right">
					<button class="btn btn-warning" type="button" disabled>
						<span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
						<span role="status">Emakas</span>
					</button>
					<div class="scoreboard__badge">
						<img class="rounded-4 " src="/static/assets/profile-photos/emakas-pr.jpg" alt="player-2" />
					</div>
				</div>

				<div class="scoreboard__result mx-5 my-1">
					<span class="scoreboard__result-home">3</span>
					<img src="/static/assets/tr-logo.png" class="rush-size">
					<span class="scoreboard__result-home">2</span>
				</div>
				<div class="scoreboard__team scoreboard__team--align-left">
					<button class="btn btn-secondary" type="button" disabled>
						<span role="status">Ayumusak</span>
						<span class="spinner-grow spinner-grow-sm" aria-hidden="false"></span>
					</button>
					<div class="scoreboard__badge">
						<img class="rounded-4 " src="/static/assets/pp.png" alt="player-2" />
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="game-container">
			<div class="player-bar"></div>
			<div class="player-bar player-bar-2"></div>
			<div class="ball"></div>
			<div class="middle-line"></div>
		</div>
	</div>
</body>