<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/login.css">
	<title id="head-title">Login</title>
</head>

<body class="bg-dark">
	<div>
		<img src="/frontend/src/assets/tr-logo.png" alt="Welcome" class="rush_logo_size">
		<div class="card bg-dark-subtle card-position rounded-5 card-size mt-5">
			<div class="card-body d-flex flex-column align-items-center">
				<h5 class="head_size mt-5 mb-5">Login<br>
					<span class="d-flex flex-column align-items-center mt-1">With</span>
				</h5>
				<a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-93b994991128a715506042b0c6a8460084a51ee7cbd47b81b9acf5c385edb53c&redirect_uri=http%3A%2F%2Flocalhost%2Flogin&response_type=code">
					<img src="/static/assets/42-button_.png" class="button-42 img-fluid rounded-4">
				</a>
			</div>




			<div class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal"
				data-bs-whatever="@mdo">
				<button class="btn bg-dark rounded-5 success-button-size text-white">Register</button>
			</div>

			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form>
								<div>
									<label for="recipient-name" class="col-form-label">Username:</label>
									<input type="text" class="form-control" id="recipient-name">
								</div>
								<div>
									<label for="recipient-name" class="col-form-label">Password:</label>
									<input type="password" class="form-control" id="recipient-name">
								</div>
								<div>
									<label for="recipient-name" class="col-form-label">Is Same Password?</label>
									<input type="password" class="form-control" id="recipient-name">
								</div>
								<div>
									<label for="recipient-name" class="col-form-label">Email:</label>
									<input type="text" class="form-control" id="recipient-name">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Register</button>
				</div>
			</div>
			
		</div>




		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
			</script>
			<script src="/static/js/login.js"></script>
			<script src=""></script>
	</div>


</body>

</html>