
<body class="bg-black">
    <title>Match</title>
    <h1 class="text-white text-center my-4 fw-bolder col-12">Match</h1>

    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-around col">
            <div class="col-1"></div>
            <div class="text-center col-3">
                <img src="/static/assets/profile-photos/emakas.jpg" class="my-4 match-img-circle border border-white">
                <button class="btn btn-secondary btn-l">
                    <p class="text-white match-font-size fw-bolder px-3">Expected User</p>
                </button>
            </div>
            <div class="text-center col-4">
                <img class="match-img-circle" src="/static/assets/tennis.png">
            </div>
            <div class="text-center col-3">
                <img src="/static/assets/pp.png" class="my-4 match-img-circle border border-white">
                <button class="btn btn-warning btn-l">
                    <p class="text-white match-font-size fw-bolder px-3">Expected User</p>
                </button>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
  </div>
</body>
