{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lobby</title>
</head>
<body>
    <h1>Lets chat!</h1>

    <form onsubmit="letsChat">
        <input type="text" name="from" placeholder="username"/>
        <input type="text" name="to" placeholder="target username"/>
        <button type="submit">Let's Chat!</button>
    </form>
    <form id="form" style="display: none;">
        <input type="text" name="message"/>
    </form>

    <div id="messages"></div>

    <script src="{% static 'reconnecting-websocket.js' %}"></script>

    <script type="text/javascript">
        let url = `ws://localhost:8000/ws/socket-server/`

        const chatSocket = new ReconnectingWebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.from}</p>
                                        <p>${data.message}</p>
                                    </div>`)
            }
        }
        
        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message':message,
                'command':'new_message'
            }))
            form.reset()
        })
        function letsChat(){
            console.log(this);
        }
    </script>
</body>
</html>