<!doctype html>
<html lang="tr">

<head id="index-head">
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Document</title>
</head>

<body>
	<!-- NAVBAR START -->
	<nav class="navbar bg-dark border-bottom navbar-expand-lg  border-body mb-5" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="/static/assets/tr-logo.png"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
				aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/" onclick="router()">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/livechat" onclick="router()">Live Chat</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about" onclick="router()">About</a>
					</li>

				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<!-- NAVBAR END -->
	<span id="index-body">
		<div id="root">
			{% include page_requested %}
		</div>
	</span>


	<script src="/static/js/index.js"></script>
	<script src="/static/js/controller.js"></script>

</body>

</html>