.head_size
{
	font-size: 35px;
}

.button-42
{
	width: 100px;
    height: 50px;
}

.rush_logo_size
{
	display:flex;   
	border: 5px solid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	padding: 10px;
	width: 350px;
    height: 350px;
}

.bg-image {
    background-image: url('../photos/42-button_.png');
}

.card-position
{
	display:flex;   
	border: 5px solid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	padding: 10px;
}


