html,
body {
    height: 100%;
}

img {
    max-width:50%;
    height: auto;
}

.bg-score-page
{
    background: rgb(221,221,221);
}

.example::-webkit-scrollbar {
    display: none;
}

.rush {
    top: 5%;
    right: 5%;

}

div.animate {
    display: inline-flex;
    position: relative;
    transition: all 1s ease-out;
}
