body {
  overflow-x: hidden;
}

.about {
  color: #000000;
}

/* .twitter:hover {
  background-color: #1AB2E8;
}

.github:hover {
  color: #0E1118;
}

.linkedin:hover {
  color: #1469C7;
}

.instagram:hover {
  background-color: #F60384;
} */
