@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --saturation: 70%;
  --foreground-color: #e2e2e2;
  --background-color: #242424;
  /* --foreground-color: hsl(var(--hue), var(--saturation), 75%); */
  /* --background-color: hsl(var(--hue), var(--saturation), 20%); */
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: "Kode Mono", monospace;
  font-style: normal;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.frame {
  width: 80vw;
  height: 80vh;
  border: 2px dashed var(--foreground-color);
  position: relative;
  overflow: hidden;
}

.ball {
  --x: 50;
  --y: 50;
  --initial-color: var(--foreground-color);
  --final-color: #ff0000;

  position: absolute;
  background-color: var(--initial-color);
  left: calc(var(--x) * (80vw / 100));
  top: calc(var(--y) * (80vh / 100));
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
}

.score {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 8vh;
  color: var(--foreground-color);
}

.score > p {
  padding-top: 20px;
  font-size: 6vh;
}

.score > div {
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
  text-align: center;
}

.paddle {
  --position: 50;

  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}
