.profile-detail-body
{
	overflow-x: hidden;
}

.rgba-background-dark
{
	background-color: rgba(33,37,41, 0.8);
}

.hidden-lg
{
	display: block;
	@media (min-width: 970px) {
		display: none;
	}
}

.hidden-md
{
	display: block;
	@media (max-width: 970px) {
		display: none;
	}
}

.flexible-box
{
    width: 95%;
    height: 110%;
    @media (min-width: 768px) {
        width: 98%;
        height: 110%;
    }
}
.profile-detail-photo
{
    width: 150px;
    height: 150px;
    @media (min-width: 1200px) {
        width: 300px;
        height: 300px;
    }
}
.profile-detail-scrollspy {
    height: 200px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: auto;
}
.profile-detail-chart {
    width: 100%;
    height: 100%;
}

