html,
.score-body {
    height: 100%;
}

.score-img {
    max-width:50%;
    height: auto;
}

.score-bg-page
{
    background: rgb(221,221,221);
}

.example::-webkit-scrollbar {
    display: none;
}

.score-rush {
    top: 5%;
    right: 5%;

}

div.animate {
    display: inline-flex;
    position: relative;
    transition: all 1s ease-out;
}
